altgraph==0.17.3
certifi==2022.12.7
charset-normalizer==3.1.0
idna==3.4
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.2
pefile==2023.2.7
pyinstaller==5.9.0
pyinstaller-hooks-contrib==2023.1
PyQt6-Qt6==6.4.2
PyQt6-sip==13.4.1
PySide6==6.5.0
PySide6-Addons==6.5.0
PySide6-Essentials==6.5.0
pywin32-ctypes==0.2.0
requests==2.29.0
scipy==1.10.1
shiboken6==6.5.0
urllib3==1.26.15
